<div class="container">
  <div class="row">
      <div class="col-md-6 offset md-3">
´
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div *ngFor="let input of formTemplate; let i=index">
                      <div [ngSwitch]="input.label">
                          <div *ngSwitchCase="'username'">
                              <input type="text" class="{{input.class}}" placeholder={{input.name}}
                                  formControlName="{{input.name}}" required={{input.required}} />
                              <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
                                  <div *ngIf="username.errors.required">username is required</div>
                              </div>

                          </div>

                          <div *ngSwitchCase="'password'">
                              <input type="password" class="{{input.class}}" placeholder={{input.name}}
                                  formControlName="{{input.name}}" required={{input.required}} />
                              <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                                  <div *ngIf="password.errors.required">Passowrd is required</div>
                              </div>

                          </div>

                      </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Login</button>
              </form>

      </div>
  </div>

</div>
