<div class="container">
  <div *ngIf="error" class="alert alert-danger text-center" role="alert">
    Sorry, image not available yet. Come back soon!
  </div>
  <div class="row" *ngFor="let p of pictureObject">

    <div class="col-md-5" >
      <mat-card class="mat-elevation-z8" >
        <mat-card-title>{{ p.title }}</mat-card-title>
        <mat-card-subtitle>Date: {{ p.date }}</mat-card-subtitle>
        <img mat-card-image src="{{ p.url }}" alt="{{p.title}}" />
        <mat-card-content>
          <button type="button" (click)="like(p.url)" class="btn btn-danger">Like</button>

        </mat-card-content>

      </mat-card>
    </div>
    <div class="col-md-7">
      <h3>{{p.explanation}}</h3>
    </div>


  </div>
  <div *ngIf="picsToDisplay">
  <div class="row" style="margin-top: 20px;" *ngFor="let p of picsToDisplay">
    <div class="col-md-6" >
      <h1 class="heading">Our user's favourite pictures</h1>
      <div class="card mat-elevation-z8" style="width: 18rem;">
        <img class="card-img-top" src="{{p.picture}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">By {{p.username}}</h5>
          <p class="card-text">Likes: {{p.likes}}</p>
          <a type="button"class="btn btn-primary" [routerLink]="">See in Detail</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

