<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <mat-card class="mat-elevation-z8">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Total operations performed:</mat-card-title>
          <mat-card-subtitle [(ngModel)]="count" name="count" >{{count}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <input name="input1" [(ngModel)]="inp1" class="form-control">
          <input name="input2" [(ngModel)]="inp2" class="form-control">
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Multiply</button>
          <button mat-raised-button color="warn">Divide</button>
          <button mat-raised-button color="primary">Add</button>
          <button mat-raised-button color="warn">Subtract</button>
        </mat-card-actions>
      </mat-card>
      <h4 data-test-id="total-operations" [(ngModel)]="count" name="count" ngDefaultControl class="pt-50">Total operations performed: {{count}} </h4>



    </div>
  </div>





<!--
      <div class="layout-row justify-content-around mt-30">
        <button type="submit" (click)="calculation(inp1,inp2, '+')" data-test-id="add-button"><span
          class="operationFont" name="symbol" ngDefaultControl  [(ngModel)]="symbol">+</span></button>
        <button type="submit" (click)="calculation(inp1,inp2, '-')" data-test-id="subtract-button">
          <span class="operationFont" name="symbol" ngDefaultControl  [(ngModel)]="symbol">-</span></button>
        <button type="submit"(click)="calculation(inp1,inp2, '*')" data-test-id="multiply-button"><span
          class="operationFont" name="symbol" ngDefaultControl  [(ngModel)]="symbol">*</span></button>
        <button type="submit" (click)="calculation(inp1,inp2, '/')" data-test-id="divide-button"><span
          class="operationFont" name="symbol" ngDefaultControl  [(ngModel)]="symbol">/</span>
        </button>
      </div>


      <div class="layout-row justify-content-between align-items-center mt-30">
        <button type="reset" (click)="reset()" class="outline danger" data-test-id="reset-button">
          Reset
        </button>
        <div class="layout-row justify-content-center align-items-center result-container">
          <h5 *ngIf="result" data-test-id="result" name="result" ngDefaultControl [(ngModel)]="result" class="result-value ma-0 slide-up-fade-in">Result: {{result}}</h5>
        </div>

      </div>
    </section> -->

  </div>

