<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">


<mat-card class="text-center mat-elevation-z8">
  <mat-card-header >

    <mat-card-title *ngIf="!editMode" >Register</mat-card-title>
    <mat-card-title *ngIf="editMode" >Edit your Credentials</mat-card-title>

  </mat-card-header>
  <img mat-card-image src="assets/registerdoor.jpg" class="img-fluid" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div *ngFor="let input of formTemplate; let i = index">
        <div [ngSwitch]="input.label">
          <div *ngSwitchCase="'username'">
            <input
              type="text"
              class="{{ input.class }}"
              placeholder="{{ input.name }}"
              formControlName="{{ input.name }}"
              required="{{ input.required }}"
            />

          </div>

          <div *ngSwitchCase="'password'">
            <input
              type="password"
              class="{{ input.class }}"
              placeholder="{{ input.name }}"
              formControlName="{{ input.name }}"
              required="{{ input.required }}"
            />
          </div>
        </div>
      </div>
      <button *ngIf="editMode" type="submit" mat-raised-button color="warn">Edit Credentials</button>
      <button *ngIf="!editMode" type="submit" mat-raised-button color="primary">Sign In</button>
</form>
  </mat-card-content>
 </mat-card>
</div>
</div>
</div>
