<div class="container-fluid bg">
    <div class="row">
        <div class="col-md-3">
            <app-left (selectedCamera)="receivedCamera($event)"></app-left>
        </div>
        <div class="col-md-9">
          <app-right
          [nodata]="nodata"
          [rover]="rover"
          [dataSource]="dataSource"
          [displayedColumns]="displayedColumns">
        </app-right>
    </div>
</div>
<!-- <div class="row">
  <div class="col-md-6">
    <ul class="list-group" *ngIf="programPics">
      <li class="list-group-item" *ngFor="let p of programPics[0]">
        <img src="{{p.href}}" alt="" class="img-fluid">
      </li>
    </ul>
  </div>
</div> -->
</div>
