<div class="container">
  <div class="row"*ngIf=users>
    <div class="col-md-4">
    <input style="margin-bottom:20px;" #query type="text" class="form-control" (keyup)="searchUser(query.value)" placeholder="search for users">
  </div>
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody *ngFor="let u of filteredUsers">

    <tr>
      <th scope="row">{{u.id}}</th>
      <td>{{u.username}}</td>
      <td>{{u.email}}</td>
      <td><a class="btn btn-primary" [routerLink]="['/user', u.id]">See details</a> </td>
    </tr>
  </tbody>
</table>
  </div>

</div>
 <div class="container-fluid">
  <h1 style="margin-top: 20px;margin-bottom: 10px;" class="heading text-center">Gallery of Pictures</h1>
  <div class="row" >
    <div class="col-md-4" *ngFor="let i of picObj">
          <mat-card class="mat-elevation-z8" >
            <mat-card-header>
              <mat-card-title ></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{i.picture}}" alt="Picture of the day">
          </mat-card>
  </div>
</div>
</div>
