<div class="container">
  <div class="row">
    <div class="col-md-12" *ngIf="pictureObject">
      <mat-card class="mat-elevation-z8" *ngFor="let p of pictureObject">
        <mat-card-title>{{ p.title }}</mat-card-title>
        <mat-card-subtitle>Date: {{ p.date }}</mat-card-subtitle>
        <img mat-card-image src="{{ p.url }}" alt="{{p.title}}" />
        <mat-card-content>
          <a [routerLink]="['/detail', p.title]" class="btn btn-primary"
            >See in detail</a>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>

