html {
  background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fpxhere.com%2Fen%2Fphoto%2F1622866&psig=AOvVaw1xsEbAmDgJzqdFWX_Odfre&ust=1602604505706000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNiLipa1r-wCFQAAAAAdAAAAABAD') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
