
<main role="main">

  <section class="jumbotron bg text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Welcome to my PortFolio!</h1>
      <p class="lead text-muted">This small applications was built with the latest Angular version (10) and it's main goal is to present my skills in this technonolgy</p>
      <p>
        <a routerLink="/login" class="btn btn-primary my-2">Login</a>
        <a  routerLink="/register" class="btn btn-secondary my-2">Register</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>

        </div>
        <div class="col-md-4">
          <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>

        </div>
        <div class="col-md-4">
          <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid" src="assets/space.jpg">
        </div>
        <div class="col-md-6">
          <div class="vertical-center">
          <h1 class=" heading">Nasa API</h1>
          <p class="heading ">Visit the universe daily picture provided by NASA and read the explanation of the phenomenon</p>

        </div>
        </div>

      </div>
    </div>
    <div class="container">


      <div class="row">
        <div class="col-md-4">
          <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Nasa's image of the day</mat-card-title>
            </mat-card-header>
            <img class="img-wrapper" mat-card-image src="assets/space.jpg" alt="day image">
            <mat-card-content>
              <p>
               Mars and and Jupiter bla bla
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" routerLink="/day">View</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Rovers</mat-card-title>
            </mat-card-header>
            <img class="img-wrapper" mat-card-image src="assets/rover.jpg" alt="rover image">
            <mat-card-content>
              <p>
               Rovers Mars bla bla
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" routerLink="/nasa">View</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>News</mat-card-title>
            </mat-card-header>
            <img class="img-wrapper" mat-card-image src="assets/guardian.jpg" alt="rover image">
            <mat-card-content>
              <p>
               Latest news
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" routerLink="/nasa">View</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Author's Biography</mat-card-title>
            </mat-card-header>
            <img class="img-wrapper" mat-card-image src="assets/code.jpg" alt="code image">
            <mat-card-content>
              <p>
               Bio bla bla bla
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" routerLink="/bio">View</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Movies</mat-card-title>
            </mat-card-header>
            <img class="img-wrapper" mat-card-image src="assets/movies.png" alt="Movies">
            <mat-card-content>
              <p>
               Movies and Series bla bla
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" routerLink="/movies">View</button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="col-md-4">
          <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Calculator</mat-card-title>
            </mat-card-header>
            <img class="img-wrapper" mat-card-image src="assets/calculator.jpg" alt="Calculator">
            <mat-card-content>
              <p>
               Calculate bla bla
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" routerLink="/calculator">View</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

</main>
