<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <input placeholder="search form movies or series" class="form-control" #search (keyup.enter)="getMovie(search.value)">
      <button style="margin-top:10px;" class="btn btn-danger" (click)="getMovie(search.value)">Get some reels!</button>

      <div style="margin-top:40%;" *ngIf="error" class="alert alert-danger col-md-6 offset-md-3" role="alert">
        Movie not found. Check your spelling and try again
      </div>
    </div>
  </div>

   <div class="row" *ngFor="let m of movies">

    <div class="col-md-3 text-center">


      <div >
        <div class="recommended-wrapper" *ngIf="movieRate>=8.0 ">
          <img class="img-fluid" src="assets/stamp.png" alt="recommended">
        </div>
        <div class="img-wrapper" style="width:100%">
          <img class="mr-3 img-fluid" src="{{m.Poster}}" alt="{{m.Title}}">
        </div>
      </div>
    </div>


        <div class="col-md-6" style="color:white;">
          <h3>{{m.Title}}, {{m.Year}}</h3>
          <h3 >{{m.Genre}}</h3>
          <br>
          <h3 >Sinopsis</h3>
          <p>{{m.Plot}}</p>
          <p> <a class="btn btn-primary" [routerLink]="['/movie-detail', m.Title]">See details</a></p>


        </div>
      </div>
    </div>
