<div class="container-fluid ">


  <div class="row" *ngIf="movie">
    <div class="col-md-6" *ngFor="let m of movie">
     <img class="img-fluid" src="{{m.movie.Poster}}">
     <div class="row">
      <mat-form-field *ngIf="dropdown"  style="width:50%;">
        <mat-label>Choose a Season</mat-label>
        <mat-select [(value)]="episode" (selectionChange)="searchByEpisode() ">
          <mat-option *ngFor="let e of episodes" [value]="e">
            {{e}}
          </mat-option>
        </mat-select>
      </mat-form-field>

     </div>

    </div>
    <div class="col-md-4">
      <h1>Comments</h1>
      <input #comment class="form-control" (keyup.enter)="post(comment.value)">
      <button mat-raised-button color="primary" (click)="post(comment.value)"></button>
    </div>
  </div>

</div>
