<div class="container-fluid " *ngIf="movie">


  <div class="row" *ngFor="let m of movie">
    <div class="col-md-6" >

     <img class="img-fluid" src="{{m.movie.Poster}}">
     <div class="row">
      <mat-form-field *ngIf="dropdown"  style="width:50%;">
        <mat-label>Choose a Season</mat-label>
        <mat-select [(value)]="episode" (selectionChange)="searchByEpisode() ">
          <mat-option *ngFor="let e of episodes" [value]="e">
            {{e}}
          </mat-option>
        </mat-select>
      </mat-form-field>

     </div>

    </div>
    <div class="col-md-3">
      <ul class="lis-group" >
        <li class="list-group-item" >
          {{m.movie.Title}}
        </li>
        <li class="list-group-item" >
          Imdb Rating: {{m.movie.imdbRating}}
        </li>
        <li class="list-group-item" >
          Cast: {{m.movie.Actors}}
        </li>
        <li class="list-group-item" >
          Plot: {{m.movie.Plot}}
        </li>
      </ul>
    <!--   <div class="comment-wrapper">
        <h3>Some quick words to let us know your opinion!</h3>
        <input type="text" #comment (keyup.enter)="sendComment(comment.value)" class="form-control">
        <button mat-raised-button color="primary" (click)="sendComment(comment.value)" >Send</button>
        <ul class="list-group" *ngIf="!displayComments()">
          <li class="list-group-item" *ngFor="let f of fetchedComments">
            {{f.comment}} by {{f.user}} {{f.movie}}
          </li>
        </ul>
      </div> -->
    </div>
<div class="col-md-3">
  <ul class="lis-group" *ngIf="fetchedEpisode">
    <li class="list-group-item" *ngFor="let f of fetchedEpisode">
      {{f.Title}}
    </li>
  </ul>
</div>
  </div>

</div>
